html,body,#main,{
	width:100%;
}
#main *{
	width:90%;
	margin-left:5%;
}
#foo{
	height:500px;
	overflow:auto;
}
#feedList{
	overflow:auto;
}
#motion{
	width:100px;
}
textarea{
	margin-top:10px;
	height:100px;
	width:90%;
}